.brand-mark-logo-container[data-v-000a18cb] {
  align-items: center;
  background: transparent;
  border-radius: 8px;
  display: flex;
  height: 25px;
  justify-content: center;
  overflow: hidden;
  width: 25px;
}
.brand-mark-logo[data-v-000a18cb] {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}
